Appli/.vs/config/applicationhost.config
Appli/.vs/Appli/v15/Server/sqlite3/storage.ide-wal
Appli/.vs/Appli/v15/Server/sqlite3/storage.ide-shm
Appli/.vs/Appli/v15/Server/sqlite3/storage.ide
Appli/.vs/Appli/v15/Server/sqlite3/db.lock
Appli/.vs/Appli/v15/.suo
Appli/.vs/Appli/DesignTimeBuild/.dtbcache
