.register_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.register_elements {
  height: 550px;
  border: 3px solid #00bfff;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  padding: 20px;
}
.register_top {
  background: #00bfff;
  color: #fff;
}
.register_wrapper input {
  margin: 10px auto;
  max-width: 600px;
}
.submit {
  min-width: 150px;
  background: #00bfff;
  color: #fff;
  font-size: 18px;
}

.register_elements {
  margin: 10px;
  font-size: 18px;
}
  .register_elements a {
    font-weight: bold;
    border: 1px solid #00bfff;
    padding: 3px;
    border-radius: 3px;
    text-decoration: none;
  }
